ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/*-----------HEADER-----------------*/

.header {
}

.header-nav {
}
.header-logo {
}

.header-logo-accent {
  color: #2e2f42;
}

.header-menu {
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}

.header-address-list {
}

.header-address-item {
}

.header-address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
/*----------------------------------*/

/*-----------HERO-----------------*/

.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  background: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ------------------------------- */

/* -------------ADVANTAGES-------- */

.advantages {
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
}

.advantages-list-items {
}

.advantages-subtitle {
}

.advantages-text {
}

/* ------------------------------ */
/* ------OUR TEAM----------- */
.team {
  background: #f4f4fd;
}
.team-title {
}
.team-list {
}
.team-list-item {
  background: #fff;
}
.team-list-img {
}
.team-subtitle {
  text-align: center;
}
.team-text {
  text-align: center;
}
/* ---------------------------------- */

/* -------PORTFOLIO--------------- */

.portfolio {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-img {
}

.portfolio-subtitle {
  text-transform: capitalize;
}

.portfolio-text {
}
/* -------------------- */

/* ------------FOOTER--------- */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
}
.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
