ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/*-----------HEADER-----------------*/

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
}
.header-logo {
}

.header-logo-accent {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.header-address-item {
}

.header-address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-container {
  display: flex;
}
/*----------------------------------*/

/*-----------HERO-----------------*/

.hero {
  background: #2e2f42;
}

.hero-wrap {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  background: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #fff;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0
    rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ------------------------------- */

/* -------------ADVANTAGES-------- */

.advantages {
  margin-top: 120px;
  margin-bottom: 120px;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-items {
  width: calc((100% - 48px) / 3);
}

.advantages-subtitle {
}

.advantages-text {
  margin-top: 8px;
}

/* ------------------------------ */
/* ------OUR TEAM----------- */
.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  max-width: 163px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background: #fff;
  width: calc((100% - 24px * 3) / 4);
}
.team-list-img {
  margin-bottom: 32px;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  margin-bottom: 32px;
}
/* ---------------------------------- */

/* -------PORTFOLIO--------------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid #e7e9fc;
}

.portfolio-img {
}

.portfolio-subtitle {
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: 8px;
  padding-left: 16px;
}

.portfolio-text {
  margin-bottom: 32px;
  padding-left: 16px;
}
/* -------------------- */

/* ------------FOOTER--------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
}
.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  margin-top: 16px;
  max-width: 264px;
}
